// Define variables for your color scheme
$dark-gray: #222831;
$medium-gray: #393E46;
$std-blue: #0092CA;
$light-gray: #EEEEEE;

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
// $light-gray: #F4F4F4;

$std-shadow: 0 1px 3px rgba(0,0,0,0.6);
